<a href="https://colab.research.google.com/github/cesarsandiford/Module-13-Challenge/blob/main/GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [5]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('applicants_data.csv')

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [6]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [7]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [8]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=='object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [10]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [11]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [12]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df.select_dtypes('number')], axis=1)

# Review the Dataframe
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [14]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [15]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179

### Step 6: Split the features and target sets into training and testing datasets.

In [16]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [17]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled =  X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [19]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [20]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [21]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [22]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4

In [23]:
# Create the Sequential model instance
nn = Sequential()

In [24]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [25]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [26]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="linear"))

In [27]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 936

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 977
Trainable params: 977
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [28]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [29]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 1.8266 - accuracy: 0.6596
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1490 - accuracy: 0.6903
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0980 - accuracy: 0.7051
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0934 - accuracy: 0.7067
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0849 - accuracy: 0.7111
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0680 - accuracy: 0.7088
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0518 - accuracy: 0.7142
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0585 - accuracy: 0.7055
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0466 - accuracy: 0.7132
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0417 - accuracy: 0.7131
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0346 - accuracy: 0.7142
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0339 - accuracy: 0.7136
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0318 - accuracy: 0.7153
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0311 - accuracy: 0.7149
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0316 - accuracy: 0.7154
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0302 - accuracy: 0.7150
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0303 - accuracy: 0.7156
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 1.0301 - accuracy: 0.7155
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0203 - accuracy: 0.7167
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 1.0127 - accuracy: 0.7142
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0049 - accuracy: 0.7107
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0061 - accuracy: 0.7133
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9992 - accuracy: 0.7163
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9990 - accuracy: 0.7156
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 1.0051 - accuracy: 0.7108
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0007 - accuracy: 0.7159
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0100 - accuracy: 0.7146
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9508 - accuracy: 0.7188
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9168 - accuracy: 0.7215
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9121 - accuracy: 0.7192
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9096 - accuracy: 0.7220
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9060 - accuracy: 0.7206
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9062 - accuracy: 0.7206
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9037 - accuracy: 0.7213
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9042 - accuracy: 0.7202
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9085 - accuracy: 0.7206
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9048 - accuracy: 0.7203
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9036 - accuracy: 0.7218
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9026 - accuracy: 0.7217
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9025 - accuracy: 0.7216
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9043 - accuracy: 0.7216
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9031 - accuracy: 0.7222
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9044 - accuracy: 0.7214
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9018 - accuracy: 0.7217
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9170 - accuracy: 0.7226
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9046 - accuracy: 0.7209
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9062 - accuracy: 0.7226
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9013 - accuracy: 0.7224
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9035 - accuracy: 0.7224
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9016 - accuracy: 0.7221

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [30]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.9203 - accuracy: 0.7188 - 476ms/epoch - 2ms/step
Loss: 0.9202520847320557, Accuracy: 0.7188338041305542

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [35]:
# Set the model's file path
from pathlib import Path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [36]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [37]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [38]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 4

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

4

In [39]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [41]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))


# Output layer
nn_A1.add(Dense(units=1, activation="linear"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 936

 dense_4 (Dense)             (None, 1)                 9

=================================================================
Total params: 945
Trainable params: 945
Non-trainable params: 0
_________________________________________________________________

In [42]:
# Compile the Sequential model
nn_A1.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [43]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 4ms/step - loss: 0.8734 - mse: 0.8734
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.3288 - mse: 0.3288
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.2459 - mse: 0.2459
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.2166 - mse: 0.2166
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.2040 - mse: 0.2040
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1984 - mse: 0.1984
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1944 - mse: 0.1944
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1918 - mse: 0.1918
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1891 - mse: 0.1891
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1881 - mse: 0.1881
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1882 - mse: 0.1882
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1871 - mse: 0.1871
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1864 - mse: 0.1864
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1866 - mse: 0.1866
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1866 - mse: 0.1866
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1865 - mse: 0.1865
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1859 - mse: 0.1859
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1856 - mse: 0.1856
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1857 - mse: 0.1857
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1859 - mse: 0.1859
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1855 - mse: 0.1855
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1854 - mse: 0.1854
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1849 - mse: 0.1849
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1852 - mse: 0.1852
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1851 - mse: 0.1851
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1845 - mse: 0.1845
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1846 - mse: 0.1846
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1848 - mse: 0.1848
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1848 - mse: 0.1848
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1845 - mse: 0.1845
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1841 - mse: 0.1841
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1841 - mse: 0.1841
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1841 - mse: 0.1841
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1842 - mse: 0.1842
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1841 - mse: 0.1841
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1842 - mse: 0.1842
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1840 - mse: 0.1840
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1839 - mse: 0.1839
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1845 - mse: 0.1845
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1835 - mse: 0.1835
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1836 - mse: 0.1836
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1838 - mse: 0.1838
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1836 - mse: 0.1836
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1837 - mse: 0.1837
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1838 - mse: 0.1838
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1840 - mse: 0.1840
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1837 - mse: 0.1837
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1834 - mse: 0.1834
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1839 - mse: 0.1839
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1833 - mse: 0.1833

#### Alternative Model 2

In [44]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [45]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [46]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 7

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

7

In [47]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [49]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 4)                 468

 dense_6 (Dense)             (None, 1)                 5

=================================================================
Total params: 473
Trainable params: 473
Non-trainable params: 0
_________________________________________________________________

In [50]:
# Compile the model
nn_A2.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [51]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6261 - mse: 0.6261
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.3505 - mse: 0.3505
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.2666 - mse: 0.2666
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.2324 - mse: 0.2324
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.2152 - mse: 0.2152
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.2047 - mse: 0.2047
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1979 - mse: 0.1979
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1940 - mse: 0.1940
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1914 - mse: 0.1914
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1902 - mse: 0.1902
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1901 - mse: 0.1901
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1893 - mse: 0.1893
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1889 - mse: 0.1889
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1889 - mse: 0.1889
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1886 - mse: 0.1886
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1881 - mse: 0.1881
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1877 - mse: 0.1877
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1876 - mse: 0.1876
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1873 - mse: 0.1873
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1868 - mse: 0.1868
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1869 - mse: 0.1869
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1866 - mse: 0.1866
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1867 - mse: 0.1867
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1866 - mse: 0.1866
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1864 - mse: 0.1864
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1861 - mse: 0.1861
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1862 - mse: 0.1862
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1857 - mse: 0.1857
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1860 - mse: 0.1860
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1858 - mse: 0.1858
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1857 - mse: 0.1857
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1856 - mse: 0.1856
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1856 - mse: 0.1856
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1856 - mse: 0.1856
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1855 - mse: 0.1855
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1854 - mse: 0.1854
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1854 - mse: 0.1854
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1852 - mse: 0.1852
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1851 - mse: 0.1851
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1851 - mse: 0.1851
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1850 - mse: 0.1850
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1851 - mse: 0.1851
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1851 - mse: 0.1851
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1849 - mse: 0.1849
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1849 - mse: 0.1849
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1850 - mse: 0.1850
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1849 - mse: 0.1849
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1847 - mse: 0.1847
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1847 - mse: 0.1847
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1846 - mse: 0.1846

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [52]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.9203 - accuracy: 0.7188 - 394ms/epoch - 1ms/step
Loss: 0.9202520847320557, Accuracy: 0.7188338041305542

In [53]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.1857 - mse: 0.1857 - 467ms/epoch - 2ms/step
Loss: 0.18572041392326355, Accuracy: 0.18572041392326355

In [54]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.1873 - mse: 0.1873 - 475ms/epoch - 2ms/step
Loss: 0.1872982531785965, Accuracy: 0.1872982531785965

### Step 3: Save each of your alternative models as an HDF5 file.

In [55]:
# Set the file path for the first alternative model
file_path = Path("Alternativemodel1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [56]:
# Set the file path for the second alternative model
file_path = Path("Alternativemodel2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)